/*
 * Reset
 */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
}
/*
 * Typography
 */
@font-face {
    font-family: "Merriweather";
    src: url("Merriweather-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Merriweather";
    src: url("Merriweather-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Merriweather";
    src: url("Merriweather-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Merriweather";
    src: url("Merriweather-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
html {
    font-size: 100%;
}
body {
    font-family: "Merriweather", sans-serif;
    line-height: 1.618;
    background-color: #f4f4f4;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.33rem;
}
em {
    font-style: italic;
}
/*
 * Main
 */
main {
    margin-top: 7.2rem;
}
/*
 * Grid
 */
.container {
    max-width: 24em;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}
.container--large {
    max-width: 38rem;
}
/*
 * Card
 */
.card {
    margin-top: 1.6rem;
    padding: 2.4rem;
    border-radius: 1.2rem;
    box-shadow: 0 1px 4px rgba(0,0,0,0.35);
    letter-spacing: 0.05rem;
}
.card--greeting {
    color: white;
    background-color: #3c97d2;
}
.card--construction {
    color: white;
    background-color: #ec8e1f;
}
.card + .btn-group {
    margin-top: 1.6rem;
}
/*
 * Button
 */
.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0.4rem 0.8rem;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 0.4rem;
}
.btn:hover,
.btn:focus {
    background-color: rgba(0,0,0,0.1);
}
.btn:active {
    background-color: rgba(0,0,0,0.15);
}
.btn--text {
    border-color: transparent;
}
.btn--urgent {
    color: white;
    border-color: #d25b3c;
    background-color: #d25b3c;
}
/*
 * Button Group
 */
.btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.btn-group .btn:not(:last-child) {
    margin-right: 0.8rem;
}
/*
 * Utilities
 */
.fw7 {
    font-weight: 700 !important;
}
.fw9 {
    font-weight: 900 !important;
}
.text--urgent {
    color: #d25b3c;
}
.px0 {
    padding-left: 0;
    padding-right: 0;
}
